version: '3.8'

services:
  web:
    build: .
    container_name: rag_backend
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    restart: always
