# Environnement virtuel Python
.venv/
venv/
env/

# Fichier des variables d'environnement
.env

# Cache Python
__pycache__/
*.pyc
*.pyo

# Base Django rag_app (panier / favoris liés à l'utilisateur)
rag_app.db

# Fichiers système
.DS_Store
Thumbs.db

# VS Code
.vscode/
